<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Add a New Album</h1>
<form class="form-horizontal" action="/album_list/add" method="post">
    <div class="form-group">
        <div class="col-sm-2"></div>
        <div class="col-sm-10">
            <p class="disclaimer-msg"><a type="button" class="btn btn-primary btn-xs" href="/artistes/add">Add Album Here!</a></p>
        </div>
        <label class="col-sm-2 control-label" for="artiste">Artiste Name:</label>
        <div class="col-sm-10" id="artiste">
            <select class="form-control" name="artiste">
                <option th:text="${artiste.artisteName}" th:value="${artiste.id}" th:each="artiste : ${artistes}"></option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="albumTitle">Album Title:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="albumTitle" id="albumTitle"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="genre">Genre:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="genre" id="genre"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="albumPrice">Price:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="albumPrice" id="albumPrice"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="img-url">Album Artwork Url:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="imgUrl" id="img-url"/>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-danger">Add Album</button>
        </div>
    </div>

</form>
</div>

</body>
</html>